html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: sans-serif;
	background: #121212;
	color: #fff;
	overflow: hidden;
}

#app {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#file-dropzone {
	border: 2px dashed #555;
	padding: 2rem;
	text-align: center;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.2s;
	z-index: 2;
	background: #1a1a1a;
}

#file-dropzone:hover {
	border-color: #0af;
	background: #222;
}

button.primary {
	margin-top: 2rem;
	padding: 0.8rem 2rem;
	font-size: 1rem;
	background: #0af;
	color: #000;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	z-index: 3;
}

#player-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	background: #000;
	z-index: 1000;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#video-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

#video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.notification {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 10px;
	display: none;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	font-size: 1.5rem;
	text-align: center;
	z-index: 10000000;
	animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 1s;
}

.notification.show {
	display: block;
	opacity: 1;
}

.notification.hidden {
	display: none;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

#qrModal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(34, 34, 34, 1);
	display: none;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	border-radius: 12px;
	z-index: 1002;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
	max-width: 90%;
}

#qrModal p {
	word-break: break-word;
	margin-bottom: 1rem;
	text-align: center;
	font-size: clamp(2rem, 5vh, 4rem);
	color: #fff;
}

#qrModal button {
	padding: clamp(0.5rem, 2vh, 1rem) clamp(1rem, 4vw, 1.5rem);
	font-size: clamp(1rem, 4vh, 1.5rem);
	border: none;
	border-radius: 8px;
	cursor: pointer;
	background: #0af;
	color: #000;
	transition: 0.2s;
}

#qrModal button:hover {
	background: #08c;
}